html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: $color-bg;
    color: $color-text;
    font-family: $font-family;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.main {
    max-width: 1680px;
    margin: 0 auto;
    padding: 30px 15px;
}

.hello {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        max-width: 100px;
    }

    h1 {
        padding: 20px 0;
    }
}
