$color-bg: #ffffff;
$color-text: #000000;
$color: #0cce6b;

$font-family: "Roboto", sans-serif;


// Mobile first
$breakpoints: (
    // Smartphones in portrait mode, less than 576px
    "sm": ("(min-width: 576px)"), // Smartphones in landscape mode
    "md": ("(min-width: 768px)"), // Tablets in portrait mode
    "lg": ("(min-width: 992px)"), // Tablets in portrait mode and Desktops
    "xl": ("(min-width: 1200px)"), // Large desktops
);

// Desktop first
$breakpoints: (
    // Desktop monitors 1366px and above
    "tl": ("(max-width: 1365px)"), // Tablets in landscape mode, older desktop monitors
    "tp": ("(max-width: 1023px)"), // Tablets in portrait mode, large display smartphones landscape mode
    "sl": ("(max-width: 767px)"), // Smartphones in landscape mode
    "sp": ("(max-width: 420px)"), // Smartphones in portrait mode
);
