footer.footer
    .footer__lighthouse
        span(title='Performance') 100
        span(title='Accessibility') 100
        span(title='Best Practices') 100
        span(title='SEO') 100
    p.footer__copy
        a(href='https://tsybulska.github.io/' target='_blank' rel='nofollow noopener') Developed by Olena Tsybulska
        