doctype html
html(lang="en")
  block head
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=Edge")
      meta(name="description" content="website")
      meta(name="keywords" content="website, html, css")
      meta(name="author" content="Olena Tsybulska")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
      title Gulp
      link(rel="shortcut icon" href="assets/favicon/favicon.ico" type="image/x-icon")
      link(rel="stylesheet" href="styles/styles.min.css")
      script(src="scripts/scripts.min.js" defer)
  body
    block header
      include header
    block content
    block footer
      include footer