extends components/layout

block content
  main.main
    section.hello
      .hello__top
        img(src="./assets/img/hello.png", alt="hello")
        svg(width="230px" height="230px")
          use(xlink:href="./assets/icons/sprite.svg#moon")
        h1 This gulp template works perfectly!
      .hello__bottom
        p
          a(href="https://tsybulskayalena.github.io/") Developed by Olena Tsybulska
