extends extends/layout
block content
    main.main
        //include includes/index/info
        section.hello
            img(src='./assets/img/hello.png' alt='hello')
            svg(width='250px' height='250px')
                use(xlink:href='./assets/icons/sprite.svg#moon')
            h1 This gulp template works perfectly!
